html {
    height: 100%;
}

* {
    font-family: "Helvetica Neue";
}
/* Home -------------------------------------------------- */
/* name */
.name {
    position: fixed;
    width: 800px;
    height: 150px;
    left: 250px;
    top: 300px;

    font-style: bold;
    font-weight: 1000;
    font-size: 90px;
    line-height: 100px;

    color: black;
}

/* logo */
img {
    display: block;
    position: absolute;
    width: 60%;
    height: 100%;
    left: 40%;
    top: 0%;
}

/* very cool button */
#cool-button {
    position: fixed;
    width: 240px;
    height: 50px;
    left: 250px;
    top: 475px;

    background-color: rgb(50, 50, 50);
    color: rgb(150, 150, 150);
    font-size: 25px;
    border: none;
    border-radius: 12px;
    transition: transform 0.5s;
}

/* very cool button transform */
#cool-button:hover {
    color: rgb(225, 225, 225);
    transform: scale(1.02);
}

/* submit button */
#submit-button {
    position: absolute;
    left: 1370px;
    top: 700px;
}

/* About -------------------------------------------------- */
/* textfield - about */
.short-about {
    display: block;
    position: absolute;
    width: 80px;
    height: 30px;
    left: 110px;
    top: 60px;

    font-size: 30px;
}

/* textfield - passion */
.short-passion {
    display: block;
    position: absolute;
    width: 105px;
    height: 30px;
    left: 110px;
    top: 100px;

    font-size: 30px;

    transition: 0.5s;
}

/* textfield - summary */
.short-summary {
    display: block;
    position: absolute;
    width: 317px;
    height: 30px;
    left: 110px;
    top: 140px;

    font-size: 30px;

    transition: 0.5s;
}

/* full textfield - about */
.long-about {
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 500px;
    height: 0;
    font-size: 20px;
    transition: 0.5s;
}

/* full textfield - passion */
.long-passion {
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 500px;
    height: 0;
    font-size: 20px;
    transition: 0.5s;
}

/* full textfield - summary */
.long-summary {
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 500px;
    height: 0;
    font-size: 20px;
    transition: 0.5s;
}

/* full textfield - about transform */
.short-about:hover .long-about {
    top: 120%;
    height: 75px;
}
.short-about:hover ~ .short-passion {
    top: 180px;
}
.short-about:hover ~ .short-summary {
    top: 220px;
}

/* full textfield - passion transform */
.short-passion:hover .long-passion {
    top: 120%;
    height: 220px;
}
.short-passion:hover ~ .short-summary {
    top: 365px;
}

/* full textfield - summary transform */
.short-summary:hover .long-summary {
    top: 120%;
    height: 365px;
}

/* useless textfield 1 */
.useless-text1 {
    position: absolute;
    top: 590px;
    color: rgb(240, 240, 240);
}

/* useless textfield 2 */
.useless-text2 {
    position: absolute;
    left: 260px;
    top: 590px;
    color: rgb(240, 240, 240);
}

/* -------------------------------------------------- */
/* background - for contact.html */
#contact-background {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 80%, rgb(150, 150, 150));
}


/* grid container - for contact.html */
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: [col-start] 600px [col-end];
    grid-template-rows: [row-start] 30px [row-1] 100px [row-2] 60px [row-3] 60px [row-4] 60px [row-5] auto [row-end];
    row-gap: 50px;
}

.grid-container a {
    padding: 8px 8px 8px 33px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(160, 160, 160);
    display: block;
    transition: transform 0.5s;
}

.grid-container a:hover {
    color: rgb(240, 240, 240);
    transform: scale(1.02);
}

.item-label {
    grid-column-start: col-start;
    grid-column-end: col-end;
    grid-row-start: row-1;
    grid-row-end: row-2;

    place-self: center;
    font-family: 'Helvetica Neue';
    font-style: bold;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;

    color: rgb(240, 240, 240);
}

.item-email {
    grid-column-start: col-start;
    grid-column-end: col-end;
    grid-row-start: row-2;
    grid-row-end: row-3;
}

.item-instagram {
    grid-column-start: col-start;
    grid-column-end: col-end;
    grid-row-start: row-3;
    grid-row-end: row-4;
}

.item-github {
    grid-column-start: col-start;
    grid-column-end: col-end;
    grid-row-start: row-4;
    grid-row-end: row-5;
}

/* -------------------------------------------------- */
/* sidebar */
.sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidebar a {
    padding: 8px 8px 8px 33px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgb(240, 240, 240);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 100px;
}

@media screen and (max-height: 450px) {
    li {
        height: 80vh;
    }
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}
